<%= form_with model: @product, local: true do |form| %>
 
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@product.errors.count, "error") %> prohibited
        this category from being saved:
      </h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :code %><br>
    <%= form.text_field :code %>
  </p>
  <p>
    <%= form.label :category %><br>
    <%= form.collection_select(:category_id, Category.all, :id, :categoryname, { :prompt => 'Select a Category', :selected => @product.category_id }) %>
  <p>
  <p>
    <%= form.label :Product %><br>
    <%= form.text_field :product_name %>
  </p>
  <p>
    <%= form.label :price_per_unit %><br>
    <%= form.text_field :unit_price %>
  </p>
  <p>
    <%= form.label :sku %><br>
    <%= form.text_field :sku %>
  </p>
  <p>
    <%= form.submit %>
  </p>
 
<% end %>