<div class = "container">
<div class = "row">
  <div class = "col-xs-12">
<%= form_with model: @product, local: true, :html => {class: "form-horizontal", role: "form"} do |form| %>
 
  <%= render 'shared/errors', obj: @product %>
 
 <div class = "form-group">
    <div class = "control-label col-sm-2">
    <%= form.label(:code,'Product Code') %><br>
    </div>
  <div class = "col-sm-5">
    <%= form.text_field :code,class: "form-control", placeholder: "Product Code", autofocus: true %>
  </div>
</div>
  
 <div class = "form-group">
    <div class = "control-label col-sm-2">
      <%= form.label(:category,"Product Category") %><br>
    </div>
    <div class = "col-sm-5">
      <%= form.collection_select(:category_id, Category.all, :id, :categoryname, { :prompt => 'Select a Category', :selected => @product.category_id }) %>
    </div>
  </div>
  <div class = "form-group">
    <div class = "control-label col-sm-2">
      <%= form.label(:Product,"Product Name") %><br>
    </div>
    <div class = "col-sm-5">
      <%= form.text_field :product_name,class: "form-control", placeholder: "Product Name"%>
    </div>
  </div>
  <div class = "form-group">
    <div class = "control-label col-sm-2">
      <%= form.label(:price_per_unit,"Unit Price") %><br>
    </div>
     <div class = "col-sm-3">
      <div class = "input-group">
        <div class = "input-group-addon">₹</div>
          <%= form.text_field :unit_price,class: "form-control", placeholder: "Price Per Unit" %>
        <div class = "input-group-addon">.00</div>
      </div>
    </div>
    </div>
  <div class = "form-group">
    <div class = "control-label col-sm-2">
      <%= form.label(:sku,"SKU") %><br>
    </div>
    <div class = "col-sm-5">
      <%= form.text_field :sku,class: "form-control", placeholder: "Amount in Stock" %>
    </div>
  </div>
  <div class = "form-group">
    <div class = "col-sm-offset-2 col-sm-10">
    <%= form.submit class: 'btn btn-primary btn-lg' %>
  </div>
</div>
</div>
</div>
</div>
 
<% end %>