<p>
  <strong>First Name:</strong>
  <%= @supplier.firstname %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= @supplier.lastname %>
</p>
<p>
  <strong>Phone Number:</strong>
  <%= @supplier.phone %>
</p>
<p>
  <strong>Address:</strong>
  <%= @supplier.address  %>
</p>
 <%= link_to 'Back', suppliers_path %>